fastapi==0.116.1
uvicorn[standard]==0.35.0

SQLAlchemy==2.0.43
psycopg2-binary==2.9.10
alembic==1.16.4

pydantic-settings==2.10.1
python-dotenv==1.1.1

python-jose[cryptography]==3.5.0
python-multipart==0.0.20

websockets==15.0.1

fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
pydantic
pydantic-settings
python-dotenv